body {
	display: grid;
	margin: 8px;
	background: #2d2d2d;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.app {
	position: relative;
	word-wrap: break-word;
	background-color: #d5d5d5;
	background-clip: initial;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: .375rem;
	margin-bottom: 0;
	margin: 0.5rem;
	padding: 1rem 1.5rem;
  flex: 1 1 auto;
  padding: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
	padding: 0;
	color: #404040;
	font-family: arial;
	/* overflow:hidden; 
	overflow-y:scroll; */
}

li {
	margin: 0.25rem;
	display: flex;
	justify-content: space-between;
}

input {
	flex-grow: 3;
	display: block;
	padding: .625rem .75rem;
	color: #8898aa;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
	box-shadow: none;
	-webkit-transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
	transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}

button {
	flex-grow: 1;
	padding: .625rem .75rem;
	color: #8898aa;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #cad1d7;
	border-radius: .375rem;
}

.add-task {
	display: flex;
}