body {
	display: grid;
	margin: 8px;
	background: #313131;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.app {
	position: relative;
	word-wrap: break-word;
	background-color: #d5d5d5;
	background-clip: initial;
	border: 1px solid rgba(0,0,0,.05);
	border-radius: .375rem;
	margin-bottom: 0;
	margin: 0.5rem;
	padding: 1rem 1.5rem;
	flex: 1 1 auto;
	padding: 1.5rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #404040;
	font-family: arial;
	/* overflow:hidden; 
	overflow-y:scroll; */
}

li {
	margin: 0.25rem;
	display: flex;
	justify-content: space-between;
}

.add-task {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
}

input {
	display: block;
	width: 80%;
	height: 40px;
	padding: .625rem .75rem;
	color: #313131;
	background-color: #d5d5d5;
	background-clip: padding-box;
	border: 1px solid #313131;
	border-radius: .375rem;
	box-shadow: none;
	-webkit-transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
	transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
}

button {
	width: 18%;
	height: 40px;
	padding: .625rem .75rem;
	color:  #d5d5d5;
	background-color: #313131;
	background-clip: padding-box;
	border: 1px solid #313131;
	border-radius: .375rem;
}

button:hover {
	color: #313131;
	background-color: #d5d5d5;
}